.vh-big {
  height: 100vh;
  width: 100%;
}

.zoom-out {
  animation: ZoomOut .25s ease-out forwards;
}

.zoom-in {
  animation: ZoomIn .25s ease-in forwards;
}

.BlackjackBg {
  background-image: url(/assets/img/bg_green.jpg);
}

.PlayerWindow {
  padding-right: 0;
  overflow: hidden;
}

.nothing-playing {
  text-align: center;
  display: table;
  background-color: rgba($color: #000000, $alpha: 0.5);
}

.none {
  display: none !important;
}

.nothing-playing > span {
  display: table-cell;
  vertical-align: middle;
  font-size: 50px;
}

.center-mid {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}


.CanvasStyle {
  height: 100vh;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.bg-canvas {
  background-color: #EEE;
}

.ChatView {
  position: fixed;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  z-index: 10;
  text-align: left !important;
  transition: all 0.5s ease;
}

.chatBtn {
  position: relative;
  border: none;
  transition: all 0.5s ease;
  background-color: #4d5678 !important;
}

.hideChat {
  right: -25%;
}

.bg-black {
  background: #000000;
}

.chat-height {
  height: 50vh;
}

@media (max-width: 844px) { /* tablet, landscape iPad, lo-res laptops ands desktops */
  .chat-height {
    height: 100vh;
  }
}

.CardBack {
  padding: 10px;
  background: rgba($color: #000000, $alpha: 0.25);
  text-align: center;
  border: 1px solid #4d5678;
  border-right: 0;
}


@keyframes ZoomIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes ZoomOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
