.custom-placeholder {
    background: #ccc;
    border: dotted 3px #999;
    min-height: 50px;
    border-radius: 5px;
    width: 450px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1) ease;
}

.fade-out {
    opacity: 0 !important;
    //display: none !important;
}

.nopointer {
    pointer-events: none;
}

.add-video-btn:hover {
    background-color: #35383d;
}

.cut-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 40px;
    width: 100%;
    text-decoration: none;
    color: #fff;
    display: block;
}

.voip-active {
  transform: rotate(135deg);
  color: #802e2e;
}

.first-playlist-element {
  background-color: rgba(55,65,81, .75);
}

.second-playlist-element {
  background-color: rgba(41, 48, 59, 0.75);
}

.playlist-element {
    line-height: 30px;
    text-align: left;
    min-width: 400px;
    font-size: 14px;
    margin: 0;
    margin-bottom: 5px;
}

.delete-playlist-item {
  font-size: 150%;
  line-height: 40px;
}

.dreck-tooltip:hover>.dreck-tooltiptext {
    opacity: 1;
}

.statusbtn {
    transition: color 0.5 ease;
    font-size: 20px;
    display: block;
    padding-bottom: 5px;
    text-align: center;
}

.divider-line {
  height: 1px;
  background-color: rgba(55,65,81, .75);
}

.dreck-tooltiptext {
    transition: opacity 0.5s ease;
    opacity: 0;
    box-shadow: 0px 0px 5px 0.5px rgba(0, 0, 0, 0.8);
    background-color: rgba(17,24,39, .75);
    color: #fff;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    min-width: 100px;
    margin-left: 25px;
    z-index: 1;
}

.add-video-fade {
    transition: opacity 0.5s ease;
    opacity: 1;
    position: absolute;
    margin-left: 44px;
    margin-top: -75px;
    z-index: 1;
    background-color: rgba(17,24,39, .75);
}

.add-playlist-fade {
    transition: opacity 0.5s ease;
    opacity: 1;
    box-shadow: 0px 0px 5px 0.5px rgba(0, 0, 0, 0.8);
    background-color: rgba(17,24,39, .75);
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    margin-left: 44px;
    margin-top: -40px;
    z-index: 1;
    width: 500px;
    max-height: 100%;
    overflow: hidden auto;
    z-index: 200;
}

.left-tooltip {
  margin-left: 94px !important;
}

.playlist-btn:hover~.playlist-preview {
    opacity: 1 !important;
}

.Memberlist:hover~.Memberlist-preview {
    opacity: 1 !important;
}

.fa.pointer:hover {
    transition: opacity 0.25s ease;
    opacity: 0.75;
}

.menu-hide {
  opacity: 0;
  width: 0;
  display: inline-block;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.messages-count {
  pointer-events: none;
  position: absolute;
  font-size: 0.715rem;
  left: 8px;
  color: #c0c3ee;
  font-weight: bold;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.75);
  padding: 2px 5px 2px 5px;
  transform: translate(-50%, -50%);
}

.left-user-count {
  left: 14px;
}

.menu-show {
  opacity: 1;
}

.menu-show~.fa {
  text-align: left;
}

.menu-msg {
  transition: opacity .3s ease, margin .5s ease;
  display: inline-block;
  font-size: 80%;
  margin-left: .5rem;
}

.badge-counter {
  display: none;
}

.badge-dreck {
  text-align: center;
  margin-bottom: 0.35rem!important;
}

.badge-dreck>.fa {
  text-align: right;
}
.badge-dreck:hover>.badge-counter {
  display: contents;
}

.badge-dreck:hover {
  background-color: rgba(55,65,81, .75);
  box-shadow: 0px 0px 5px 0.5px rgba(0, 0, 0, 0.8)
}

.block {
    display: block;
}

.bg-gray-900 {
  background-color: rgba(17,24,39, .75);
}

.status-box {
    opacity: 0.9;
    transition: 0.5s opacity ease;
    position: fixed;
    top: 75px;
    left: 10px;
    padding: 10px 8px;
    z-index: 10;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1) ease;
}

.playlist-element.cdk-drop-list-dragging .playlist-element:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1) ease;
}
