<div *ngIf="!WhiteboardActive&&!BlackjackActive" class="status-box" [class.fade-out]="nav||fullscreen"
  (mouseenter)="enterMenu(true)" (mouseleave)="enterMenu(false)">
  <i class="fa statusbtn pt-2 dreck-tooltip" title="Indicates whether you are host or not" [class.fa-user]="!IsHost"
    [class.fa-user-circle-o]="IsHost" (click)="!IsHost && SetHost()" [class.pointer]="!IsHost"
    [class.text-warning]="IsHost" [class.text-info]="!IsHost"></i>
    <span class="badge badge-dreck my-2 block pointer" title="Adds video from clipboard" (click)="quickPlay()"><i
        class="fa fa-plus-circle"></i></span>
        
    <div class="add-video-fade" [class.fade-out]="!showInput" [class.nopointer]="!showInput" style="width: 200px;">
        <div class="form-group">
            <div class="input-group input-group-md">
                <input type="text" tabindex="-1" (keyup.enter)="PlayURL()" placeholder="https://..." class="form-control" id="video-tooltip-input">
                <div class="input-group-append">
                    <button type="button" class="btn px-2" [class.btn-primary]="!isPlaying" [class.btn-success]="isPlaying" (click)="PlayFile()"><i class="fa fa-file" aria-hidden="true"></i></button>
                    <button type="button" class="btn px-1" [class.btn-primary]="!isPlaying" [class.btn-success]="isPlaying" (click)="PlayURL()"><i class="fa fa-play" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div>
  <span class="badge badge-dreck my-2 block add-video-btn pointer" title="Open a local file to sync the time with"
    (click)="PlayFile()"><i class="fa fa-file"></i></span>
  <span class="badge badge-dreck mt-1 block pointer playlist-btn" (click)="TogglePlaylist()">
    <i class="fa fa-video-camera" [class.text-primary]="!isPlaying" [class.text-success]="isPlaying"></i><br><span
      *ngIf="Playlist">{{Playlist.length}}</span>
  </span>
  <div class="add-playlist-fade playlist-preview" [class.nopointer]="!showPlaylist" [class.fade-out]="!showPlaylist"
    cdkDropList (cdkDropListDropped)="drop($event)">
    <div *ngIf="Playlist&&Playlist.length==0">
      <h4 class="text-center">Nothing here...</h4>
    </div>
    <div class="row playlist-element pr-3" *ngFor="let video of Playlist; let first=first; let i=index;" cdkDrag
      [cdkDragDisabled]="first">
      <div class="custom-placeholder" *cdkDragPlaceholder></div>
      <div class="col-1">
        <i class="fa fa-pause text-primary" *ngIf="first" aria-hidden="true"></i><i
          class="fa fa-play text-success pointer" *ngIf="!first" (click)="play(video.url)" aria-hidden="true"></i>
      </div>
      <div class="col-10">
        <a [attr.href]="video.url" target="_blank" style="text-decoration: none; color: #fff;"><span class="cut-text"
            [innerHTML]="video.title" id="{{i===1 ? 'nextVid': ''}}"></span></a>
      </div>
      <div class="col-1">
        <i (click)="delete(video.url)" class="fa fa-trash-o pointer text-danger" aria-hidden="true" *ngIf="!first"></i>
      </div>
    </div>
  </div>
  <span class="badge badge-dreck my-2 block pointer" title="Skip to next video" (click)="nextVideo()"><i
      class="fa fa-forward"></i></span>
  <span (click)="ToggleMemberlist()" class="badge badge-dreck my-2 block dreck-tooltip Memberlist"><i class="fa fa-user"></i><br>{{Members.length}}</span>  
  <span class="dreck-tooltiptext Memberlist-preview" style="z-index: 200; padding: 5px; width: 150px; transition: opacity 0.5s ease; opacity: 1; margin-top: -40px; margin-left: 30px;" [class.nopointer]="!showMemberlist" [class.fade-out]="!showMemberlist">
    <div class="row m-0" *ngFor="let member of Members">
      <div class="col-2 p-0 text-center">
        <i *ngIf="member.ishost" class="fa fa-user-circle-o text-warning"></i>
        <i *ngIf="!member.ishost" (click)="ChangeHost(member.username)" class="fa fa-user text-info"></i>
      </div>
      <div class="col-10">
        <p style="position: relative; display: block; opacity: 1;">{{member.username}}</p>
      </div>
    </div>
  </span>

  <span class="badge badge-dreck my-2 block pointer" title="Toggles the chat" (click)="toggleTwitchChat()"><i
      class="fa fa-comment"></i></span>
  <!--<hr>
  <span class="badge badge-dreck mt-2 block"
    title="{{ IsHost ? 'Time updates send to server (changes with ping): ' + ThreshholdNumber + 's' : 'Maximum time difference to host (changes with ping): ' + ThreshholdNumber + 's'}}">
    <i class="fa fa-info"></i><br>
  </span>-->
</div>
