.hide-me {
    visibility: hidden;
    display: none;
}
.modal-backdrop {
  z-index: 1500;
}

.bg-dark {
  background-color: #323342 !important;
}
.bg-secondary {
  background-color: #45465c !important;
}
