<div class="modal hide fade in" id="dialogModal-{{Id}}" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h5><strong *ngIf="AlertType == AlertTypes.Success" class="text-success"><i class="fa fa-check" aria-hidden="true"></i></strong>
                  <strong *ngIf="AlertType == AlertTypes.Info" class="text-info"><i class="fa fa-info-circle" aria-hidden="true"></i></strong>
                  <strong *ngIf="AlertType == AlertTypes.Warning" class="text-warning"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></strong>
                  <strong *ngIf="AlertType == AlertTypes.Danger" class="text-danger"><i class="fa fa-exclamation-circle" aria-hidden="true"></i></strong>
                  {{Header}}</h5>
                  <button *ngIf="Closeable" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
            </div>
            <div class="modal-body">
                <div class="alert" [class.alert-success]="AlertType == AlertTypes.Success" [class.alert-info]="AlertType == AlertTypes.Info" [class.alert-warning]="AlertType == AlertTypes.Warning" [class.alert-danger]="AlertType == AlertTypes.Danger">
                  <strong *ngIf="AlertType == AlertTypes.Success"><i class="fa fa-check" aria-hidden="true"></i></strong>
                  <strong *ngIf="AlertType == AlertTypes.Info"><i class="fa fa-info-circle" aria-hidden="true"></i></strong>
                  <strong *ngIf="AlertType == AlertTypes.Warning"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></strong>
                  <strong *ngIf="AlertType == AlertTypes.Danger"><i class="fa fa-exclamation-circle" aria-hidden="true"></i></strong>
                  <span style="white-space: pre-line;" class="ml-3" [innerHTML]="Question"></span>
                </div>
                <div [class.hide-me]="!AddInput">
                    <br>
                    <input #Title [(ngModel)]="inputText" class="form-control" placeholder="(optional) Add a title" />
                </div>
            </div>
            <div class="modal-footer" *ngIf="Answer1||Answer2">
                <button *ngIf="Answer1" type="button" class="btn mr-auto font-weight-bold" [class.btn-success]="!AlertType||AlertType==AlertTypes.Success" [class.btn-danger]="AlertType==AlertTypes.Danger" [class.btn-warning]="AlertType==AlertTypes.Warning" [class.btn-info]="AlertType==AlertTypes.Info" (click)="YesFunction(title.nativeElement.value)">{{Answer1}} <i class="fa ml-1 fa-check-circle" aria-hidden="true"></i></button>
                <button *ngIf="Answer2" type="button" class="btn btn-danger font-weight-bold" (click)="NoFunction(title.nativeElement.value)">{{Answer2}} <i class="fa ml-1 fa-times-circle" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
</div>
