<div class="modal hide fade in" id="addRoomModal" *ngIf="this.logout==true&&this.user?.id>0&&this.user?.approved>0">
    <div class="modal-dialog modal-lg">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h4>Create a <span class="text-main-color font-weight-bold">Sync</span>Room</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body explain-text mb-4">
                <!-- Disable chrome autofill -->
                <input type="text" class="form-control" autocomplete="off chrome-off" style="display: none;" />
                <input type="password" class="form-control" autocomplete="off chrome-off" style="display: none;" />

                <label style="font-size: 1rem;">Room name</label>
                <div class="input-group input-group-sm mb-4">
                  <input [(ngModel)]="NewRoomName" type="text" class="form-control user-input bg-dark text-light border-dark" (keypress)="alphaKeys($event)" placeholder="Any room name" autocomplete="off" />
                  <div class="input-group-append" *ngIf="this.user?.userprivileges >= UserPrivileges.Moderator">
                    <button class="btn btn-dark">
                      <label class="m-0 p-0"><input type="checkbox" [(ngModel)]="NewRoomPermanent"> Permanent</label>
                    </button>
                  </div>
                </div>
                <label style="font-size: 1rem;">Room password</label>
                <input [(ngModel)]="NewRoomPassword" type="password" class="form-control user-input bg-dark text-light border-dark" (keypress)="alphaKeys($event)" placeholder="(optional) password" autocomplete="off" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success px-3 font-weight-bold" (click)="CreateRoom(NewRoomName, NewRoomPassword)">Create <i class="fa fa-check" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-danger font-weight-bold" data-dismiss="modal">Close <i class="fa ml-1 fa-times-circle" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
</div>
