<div class="row justify-content-center mb-5 pb-5 DealerView">
  <div *ngIf="dealer" class="CardBack col-3 rounded-bottom border-around-notop">
    <p>Dealer - <span class="badge badge-info"><i class="fa fa-money"></i> {{dealer.money}}</span></p>
    <p>{{dealer.name}} - {{dealer.pointsDTO}}</p>
    <app-bj-playing-cards [PlayingCards]="dealer.cards"></app-bj-playing-cards>
  </div>
</div>

<div *ngIf="members" class="container-fluid">
    <div class="row justify-content-center mb-5 pb-5 MemberCards">
      <ng-container *ngFor="let member of filteredMembers(true); let last = last;">
        <div class="px-md-4" [class.col-onehalf]="!self.notPlaying" [class.col-2]="self.notPlaying">
          <div class="p-3 CardBack rounded" [class.border-around]="!member.waitingForBet&&!member.waitingForPull" [class.border-around-waiting]="member.waitingForBet||member.waitingForPull">
            <p *ngIf="!member.didSplit">{{member.username}} - <span>{{member.points}}</span></p>
            <p *ngIf="member.didSplit"><span>{{member.points}}</span> - {{member.username}} - <span class="text-warning">{{member.splitPoints}}</span></p>
            <p class="d-flex justify-content-between align-items-center"><span class="text-left">Money </span><span
                class="badge badge-info"><i class="fa fa-money"></i> {{member.money}}</span></p>
            <p class="d-flex justify-content-between align-items-center"><span class="text-left">Bet </span><span
                class="badge badge-info"><i class="fa fa-money"></i> {{member.bet}}</span></p>
            <app-bj-playing-cards [PlayingCards]="member.cards" [IsYourCards]="false"></app-bj-playing-cards>
            <div *ngIf="member.splitCards.length>0">
              <br>
              <app-bj-playing-cards [IsYourCards]="false" [PlayingCards]="member.splitCards"></app-bj-playing-cards>
            </div>
          </div>
        </div>
        <div *ngIf="!last" class="offset-1"></div>
      </ng-container>
        <div class="offset-3"></div>
        <div *ngIf="members.length<=2" class="offset-4"></div>
        <ng-container *ngIf="members&&members.length>2">
          <ng-container *ngFor="let member of filteredMembers(false); let last = last;">
            <div class="px-md-4" [class.col-onehalf]="!self.notPlaying" [class.col-2]="self.notPlaying">
              <div class="p-3 CardBack rounded" [class.border-around]="!member.waitingForBet&&!member.waitingForPull" [class.border-around-waiting]="member.waitingForBet||member.waitingForPull">
                <p *ngIf="!member.didSplit">{{member.username}} - <span>{{member.points}}</span></p>
                <p *ngIf="member.didSplit"><span>{{member.points}}</span> - {{member.username}} - <span class="text-warning">{{member.splitPoints}}</span></p>
                <p class="d-flex justify-content-between align-items-center"><span class="text-left">Money </span><span
                    class="badge badge-info"><i class="fa fa-money"></i> {{member.money}}</span></p>
                <p class="d-flex justify-content-between align-items-center"><span class="text-left">Bet </span><span
                    class="badge badge-info"><i class="fa fa-money"></i> {{member.bet}}</span></p>
                <app-bj-playing-cards [PlayingCards]="member.cards" [IsYourCards]="false"></app-bj-playing-cards>
                <div *ngIf="member.splitCards.length>0">
                  <br>
                  <app-bj-playing-cards [IsYourCards]="false" [PlayingCards]="member.splitCards"></app-bj-playing-cards>
                </div>
              </div>
            </div>
            <div *ngIf="!last" class="offset-1"></div>
          </ng-container>
        </ng-container>
        <div *ngIf="members.length==3" class="col-onehalf"></div>
        <div *ngIf="members.length==3" class="col-1"></div>
      </div>
</div>

<div class="ToggleSound pointer p-2">
  <i *ngIf="soundActivated" class="fa fa-volume-up" aria-hidden="true" (click)="soundActivated=!soundActivated"></i>
  <i *ngIf="!soundActivated" class="fa fa-volume-off" aria-hidden="true" (click)="soundActivated=!soundActivated"></i>
  <input type="range" class="form-range ml-1 slider" max="1" min="0" step="0.1" [(ngModel)]="dealCardAudio.volume">
</div>

<div class="row justify-content-center SelfView">
  <div *ngIf="self&&!self.notPlaying" class="CardBack col-3 rounded-top border-around-nobot">
    <div id="BetCollapse" class="collapse mx-3">
      <label>Bet amount</label>
      <div class="input-group input-group-sm">
        <input [(ngModel)]="BetAmount" type="number" (keyup.enter)="SetBet()" class="form-control"
          [class.is-invalid]="BetAmount<5||BetAmount>200||self.money<BetAmount" placeholder="Bet amount">
        <div class="input-group-append">
          <button type="button" class="btn btn-success px-3" (click)="SetBet()"><i class="fa fa-check"
              aria-hidden="true"></i></button>
        </div>
      </div>
      <div class="my-2" style="height: 1px; width: 100%;" [ngStyle]="{'background': 'linear-gradient(90deg, rgba(255,255,255,0.8) ' + PercentTimer + '%, rgba(255,255,255,0.2) ' + PercentTimer + '%, rgba(255,255,255,0.2) 100%)'}"></div>
    </div>

    <div id="PullCollapse" class="collapse mx-3">
      <p [class.text-warning]="forSplitHand&&forSplitHand===true">Choose to pull card <span *ngIf="forSplitHand&&forSplitHand===true">for split hand</span></p>
      <div class="row mx-1">
        <button (click)="Pull(true, false, false)" type="button" class="btn btn-success mr-auto font-weight-bold"><i
            class="fa ml-1 fa-check" aria-hidden="true"></i> Pull card</button>
        <button *ngIf="doubleOption&&self.money>=(BetAmount*2)&&forSplitHand===undefined" (click)="Pull(false, true, false)" type="button"
          class="btn btn-primary mr-auto font-weight-bold"><i class="fa ml-1 fa-angle-double-up" aria-hidden="true"></i>
          Double</button>
          <button *ngIf="self.splitable&&self.money>=(BetAmount*2)&&forSplitHand===undefined" (click)="Pull(false, false, true)" type="button"
            class="btn btn-warning mr-auto font-weight-bold"><i class="fa ml-1 fa-columns" aria-hidden="true"></i>
            Split</button>
        <button (click)="Pull(false, false, false)" type="button" class="btn btn-danger font-weight-bold"><i
            class="fa ml-1 fa-times" aria-hidden="true"></i> Done</button>
      </div>
      <div class="my-2" style="height: 1px; width: 100%;" [ngStyle]="{'background': 'linear-gradient(90deg, rgba(255,255,255,0.8) ' + PercentTimer + '%, rgba(255,255,255,0.2) ' + PercentTimer + '%, rgba(255,255,255,0.2) 100%)'}"></div>
    </div>
    <h4 *ngIf="!self.didSplit">{{self.username}} - <span>{{self.points}}</span></h4>
    <h4 *ngIf="self.didSplit"><span>{{self.points}}</span> - {{self.username}} - <span class="text-warning">{{self.splitPoints}}</span></h4>
    <h5 class="d-flex justify-content-between align-items-center px-5">
        <span class="text-left">Money </span>
        <span class="badge badge-info"><i class="fa fa-money"></i> {{self.money}}</span>
    </h5>
    <h5 class="d-flex justify-content-between align-items-center px-5">
      <span class="text-left">Bet </span>
        <span class="badge badge-info"><i class="fa fa-money"></i> {{self.bet}}</span>
    </h5>
    <app-bj-playing-cards *ngIf="self.cards" [PlayingCards]="self.cards"></app-bj-playing-cards>
    <app-bj-playing-cards class="ml-3" *ngIf="self.splitCards.length>0" [PlayingCards]="self.splitCards"></app-bj-playing-cards>
    <div class="checkbox AutoBetCheck" title="Autobet">
      <label><input type="checkbox"
        [checked]="autoBet"
        (change)="SetAutoBet()"><i class="ml-2 fa fa-magic"></i></label>
    </div>
  </div>
</div>
<div *ngIf="self" class="ChatView col-2 CardBack border-around-nobot rounded-top">
  <div class="row">
    <div class="pointer rounded text-light chatBtn mx-auto mb-2 p-0" (click)="newMessage=false;" [class.animateBg]="newMessage&&checkChatClass()" data-toggle="collapse" data-target="#ChatCollapse"><i class="fa fa-comments px-5"></i></div>
  </div>
  <div id="ChatCollapse" class="collapse">
    <div class="height-25">
      <app-dreckchat [nav]="false" [logout]="logout" [UniqueId]="UniqueId" [Username]="self.username" [WhiteBoard]="false" (NewMessage)="newMessage=true;" (ChangeToAi)="ResetView()"></app-dreckchat>
    </div>
  </div>
</div>
