.SelfView {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 10;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.ToggleSound {
  position: absolute;
  bottom: 15px;
  left: 50px;
  font-size: 2.5rem;
  z-index: 1000;
}

.DealerView {
  position: fixed;
  width: 100%;
  top: 0;
}

.MemberCards {
  position: fixed;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

.ChatView {
  position: fixed;
  width: 100%;
  bottom: 0;
  right: 25px;
  z-index: 10;
  text-align: left !important;
}

.PaddingBotChat {
  padding-bottom: 6% !important;
}

.height-25 {
  height: 25vh;
}

.border-around-nobot {
  border: 1px solid #EEE;
  border-bottom: 0;
}

.border-around-notop {
  border: 1px solid #EEE;
  border-top: 0;
}

.border-around {
  border: 1px solid #EEE;
}

.border-around-waiting {
  border: 1px solid #f0ad4e;
}

.LightBreak {
  background: rgba(255, 255, 255, 0.2);
}

.col-onehalf {
  width: 12.499999995%;
  flex: 0 0 12.499%;
  max-width: 12.499%;
}

.text-left {
  text-align: left;
}

.CardBack {
  padding: 10px;
  background: rgba($color: #000000, $alpha: 0.4);
  text-align: center;
}

.vertical-alignment-helper {
  display: table;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.vertical-align-center {
  /* To center vertically */
  display: table-cell;
  vertical-align: middle;
  pointer-events: none;
}

.modal-content {
  /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
  width: inherit;
  max-width: inherit;
  /* For Bootstrap 4 - to avoid the modal window stretching full width */
  height: inherit;
  /* To center horizontally */
  margin: 0 auto;
  pointer-events: all;
}

.chatBtn {
  position: relative;
  border: none;
  transition: all 0.5s ease;
  background-color: #0275d8;
}


@keyframes BlinkChat {
  0% {
    background-color: #5bc0de;
  }

  100% {
    background-color: #0275d8;
  }
}

.animateBg {
  display: inline-block;
  -webkit-animation: BlinkChat 2s ease infinite;
  -moz-animation: BlinkChat 2s ease infinite;
  -o-animation: BlinkChat 2s ease infinite;
  animation: BlinkChat 2s ease infinite;
}

.AutoBetCheck {
    position: absolute;
    bottom: 1vh;
    left: 1vw;
}
