<div class="modal hide fade in" id="permissionInfoModal">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content bg-dark" style="overflow: auto; height: 50vh;">
      <div class="modal-header">
        <h2>Permissions</h2>
      </div>
      <div class="modal-body tableFixHead p-0">
        <p *ngIf="!permissions||permissions.length==0" class="text-center"><i class="fa fa-spinner fa-spin fa-2x" aria-hidden="true"></i></p>
        <table *ngIf="permissions&&permissions.length>0" class="table table-dark table-striped m-0">
          <thead>
            <tr class="border-0">
              <th scope="col" sortable="methodName" (sort)="onSort($event)">Method</th>
              <th scope="col" sortable="description" (sort)="onSort($event)">Description</th>
              <th scope="col" sortable="requiredPrivileges" (sort)="onSort($event)">Privileges</th>
              <th scope="col" sortable="authenticationType" (sort)="onSort($event)">Authentication</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let perm of permissions">
              <td>{{ perm.methodName }}</td>
              <td>{{ perm.description }}</td>
              <td>{{ GetPrivilegeString(perm.requiredPrivileges) }}</td>
              <td>{{ GetAuthString(perm.authenticationType) }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger font-weight-bold" data-dismiss="modal">Close <i
            class="fa ml-1 fa-times-circle" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>
</div>
