.bg-dark {
  background-color: #323342 !important;
}
.border-dark {
  background-color: #454658d9 !important;
}
.bg-secondary {
  background-color: #5d5e7c !important;
}
.btn-secondary {
  background-color: #5d5e7c !important;
}
.badge-dreck {
  text-align: center;
  margin-bottom: 0.35rem!important;
}
.badge-dreck>.fa {
  text-align: right;
}
