<div class="modal hide fade in" id="userAdminModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h4><span class="text-main-color font-weight-bold">Sync</span>Stream User</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body explain-text">
                <label>Filter</label>
                <input class="form-control bg-dark text-light" [(ngModel)]="FilterTerm" placeholder="Username..." type="text" (keyup)="Filter()">
                <hr>
                <table class="table table-dark table-striped"> <!-- [class.shake]="UserChangeError"-->
                    <thead>
                        <tr>
                            <th>Username
                                <div class="btn-group" role="group">
                                    <div class="btn-group-vertical">
                                        <i (click)="Sort=0;Desc=false;Filter();" class="fa fa-sort-asc btn btn-xs text-light pointer p-0 ml-2"></i>
                                        <i (click)="Sort=0;Desc=true;Filter();" class="fa fa-sort-desc btn btn-xs text-light pointer p-0 ml-2"></i>
                                    </div>
                                </div>
                            </th>
                            <th>Privileges
                                <div class="btn-group" role="group">
                                    <div class="btn-group-vertical">
                                        <i (click)="Sort=1;Desc=false;Filter();" class="fa fa-sort-asc btn btn-xs text-light pointer p-0 ml-2"></i>
                                        <i (click)="Sort=1;Desc=true;Filter();" class="fa fa-sort-desc btn btn-xs text-light pointer p-0 ml-2"></i>
                                    </div>
                                </div>
                            </th>
                            <th>Approved
                                <div class="btn-group" role="group">
                                    <div class="btn-group-vertical">
                                        <i (click)="Sort=2;Desc=false;Filter();" class="fa fa-sort-asc btn btn-xs text-light pointer p-0 ml-2"></i>
                                        <i (click)="Sort=2;Desc=true;Filter();" class="fa fa-sort-desc btn btn-xs text-light pointer p-0 ml-2"></i>
                                    </div>
                                </div>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of FilteredUsers | slice: (page-1) * pageSize : page * pageSize">
                            <td>{{user.username}}</td>                    
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-outline-light dropdown-toggle" type="button" data-display="static" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{user.userprivileges}}
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a *ngFor="let priv of Privileges; let i = index" class="dropdown-item pointer" (click)="SetUserPrivileges(user, i)">{{i}}</a>
                                    </div>
                                </div>
                            </td>
                            <td>{{user.approved}}<i *ngIf="user.approved===0" (click)="ApproveUser(user, true)" class="fa fa-check text-success ml-3 pointer"></i><i *ngIf="user.approved>0" (click)="ApproveUser(user, false)" class="fa fa-times text-danger ml-3 pointer"></i></td>
                            <td><button (click)="DeleteUserQuestion(user)" class="btn btn-danger"><i class="fa fa-trash-o"></i></button></td> <!-- -->
                        </tr>
                    </tbody>
                </table>
                <hr>
                <ngb-pagination
                [(page)]="page"
                [pageSize]="pageSize"
                [collectionSize]="FilteredUsers.length"></ngb-pagination>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger font-weight-bold" data-dismiss="modal">Close <i class="fa ml-1 fa-times-circle" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
</div>
<app-text-dialog [Id]="'UserAdminQ'" [Question]="DialogQuestion" [AddInput]="false" [Header]="DialogHeader" [Answer1]="YesAnswer" [Answer2]="NoAnswer" (Yes)="DeleteUser()">
</app-text-dialog>