<span *ngIf="LastGallowWord" class="DrawWord no-pointer-events" [class.fade-out]="ChangeWord"><span class="no-pointer-events unselectable" [class.letter-space]="!IsDrawing">{{IsDrawing ? LastGallowWord : AnonGallowWord}}</span></span>

<div class="GallowBoard" (mouseenter)="ShowLeaderboard(true)" (mouseleave)="ShowLeaderboard(false)">
  <p class="text-center">Leaderboard<br><span class="badge badge-primary badge-info">{{RemainingGallowTime}}s left</span></p>
  <div id="LeaderboardCollapse" class="collapse">
    <ul class="list-group list-group-flush">
      <li class="list-group-item bg-dark d-flex justify-content-between align-items-center" style="padding-top: 1%; padding-bottom: 1%;" *ngFor="let member of GallowMembers">
        {{member.username}}
          <h5><span class="badge badge-primary badge-info">{{member.gallowPoints}}</span></h5>
      </li>
    </ul>
  </div>
</div>

<div class="Tools center-bottom op-0" [class.fade-in]="IsDrawing">
    <input type="range" title="Stroke thickness" class="form-range" id="customRange1" min="3" max="50" value="{{lineWidth}}"  #ref (input)="changeStrokeThickness(ref.value)">
    <i class="fa fa-trash-o fa-3x ml-5 p-2 bg-dark text-light rounded pointer" (click)="ReloadWhiteboard()"></i>
    <i class="fa fa-eraser fa-3x p-2 ml-3 bg-dark text-light rounded pointer" (click)="ChangeStrokeColor('#eee')"></i>
    <i *ngIf="RemainingGallowTime>80" class="fa fa-refresh fa-3x p-2 ml-3 bg-dark text-light rounded pointer" (click)="NewGallow()"></i>
</div>

<div class="ColorBoard op-0" [class.fade-in]="IsDrawing">
  <div *ngFor="let color of Colors">
    <div class="ColorBall" [ngStyle]="{'background-color': color}" (click)="ChangeStrokeColor(color)"></div>
  </div>
  <input class="ColorBall" type="color" id="head" name="head" value="{{SelectedColor}}" (input)="ChangeStrokeColor($event.target.value)">
</div>

<div *ngIf="IsDrawing" class="custom-cursor no-pointer-events" id="CustomCursor" [ngStyle]="{'width': lineWidth + 'px', 'height': lineWidth + 'px', 'background-color': SelectedColor}" ></div>

<canvas-whiteboard #canvasWhiteboard *ngIf="!reload" class="canvas" [class.no-cursor]="IsDrawing" (mousemove)="hoverCanvas($event)"  (mouseleave)="exitCanvas()"
  [options]="canvasOptions" (onBatchUpdate)="sendBatchUpdate($event)"
  (onUndo)="onCanvasUndo($event)" (onRedo)="onCanvasRedo($event)">
</canvas-whiteboard>
