.canvas {
    transition: none;
}

.crosshair {    
    cursor: crosshair;
}

.no-cursor {
    cursor: none;
}

.DrawWord {
    position: fixed;
    left: 50%;
    transform: translateX(-100%);
    top: 10px;
    z-index: 10;
    font-size: 4em;
    color: #333;
}

.no-pointer-events {    
    pointer-events: none;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.custom-cursor {
    position: absolute;
    z-index: 10000;
    border-radius: 100%;
    border: 1px solid black;
}

.GallowBoard {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 10;
    color: #EEE;
    background: #333;
    padding: 10px;
    border-radius: 5px;
}

.Tools {
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
}

.ColorBoard {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    max-width: 22%;
    padding: 10px;
    background: #333;
    bottom: 10px;
    right: 20%;
    z-index: 10;
    border-radius: 5px;
}

.ColorBall {
    height: 25px;
    width: 25px;
    border-radius: 100%;
    margin: 5px;
    cursor: pointer;
    border: 1px solid black;
}