.chat {
    width: 100%;
    height: 95%;
}

.username {
    color: #3369e7;
}

.other-user {
    color: #00aeff;
}

.nopointer {
    pointer-events: none;
}

.chatstyle {
    list-style: none;
    padding: 0;
    width: 100%;
    height: 99%;
    overflow: hidden;
    overflow-y: auto;
    font-size: 0.75em;
}

.chatstyle li {
    word-wrap: break-word;
}
