.chat {
    width: 100%;
    height: calc(100% - (1.5em + 0.5rem + 10px));
}
.bg-dark {
  background-color: #323342cc !important;
}
.bg-secondary {
  background-color: #45465ccc !important;
}
.username {
    color: #3369e7;
}
.highlight-none {
  box-shadow: none;
}

.other-user {
    color: #00aeff;
}

.nopointer {
    pointer-events: none;
}

.chatstyle {
    list-style: none;
    padding: 0;
    width: 100%;
    height: 99%;
    overflow: hidden;
    overflow-y: auto;
    font-size: 0.75em;
}

.chatstyle li {
    word-wrap: break-word;
}
