<div class="chat">
    <ul class="chatstyle pt-4 pr-4" id="messagebox">
        <li>Hello <span class="username" [class.text-danger]="logout">{{Username}}</span>. You connected <span class="text-success">@{{CurrentDate | date: 'HH:mm:ss'}}</span></li>
        <li *ngFor="let Message of Messages; let i=index;" tabindex="{{i}}">{{Message.time | date: 'HH:mm:ss'}} <span class="username" [class.text-danger]="logout&&Message.username==Username" [class.other-user]="Message.username!=Username">{{Message.username}}</span>: {{Message.message}}</li>
    </ul>
</div>
<div class="d-flex pr-4">
    <div class="smileyBox" [class.fade-out]="!showSmileys" [class.nopointer]="!showSmileys" id="smileyId"><span *ngFor="let smiley of smileys" class="pointer unselectable" (click)="AddSmiley(smiley)">{{smiley}}</span></div>
    <div class="input-group input-group-sm">
        <input type="text" tabindex="-1" placeholder="Chatmessage..." style="z-index: 1000;" (keyup.enter)="SendMessage()" class="form-control" id="textmessage" maxlength="500">
        <div class="input-group-append">
            <button type="button" class="btn btn-light" (click)="showSmileys=!showSmileys"><i class="fa fa-smile-o" aria-hidden="true"></i></button>
        </div>
        <div class="input-group-append">
            <button type="button" class="btn btn-primary px-3" (click)="SendMessage()"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
        </div>
    </div>
</div>