<router-outlet></router-outlet>

<div class="modal hide fade in" id="contactModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h4><span class="text-main-color font-weight-bold">Sync</span>Stream Contact</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body text-center">
                <p class="mt-5">Got any questions or suggestions? <br><br>Please contact me at <span class="font-weight-bold">len@dreckbu.de</span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger font-weight-bold" data-dismiss="modal">Close <i class="fa ml-1 fa-times-circle" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
</div>

<div class="modal hide fade in" id="registerModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h4>Registered to <span class="text-main-color font-weight-bold">Sync</span>Stream</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body text-center">
                <p class="mt-5">Thanks for registering! <br><br>In order to login and create your own <span class="text-main-color font-weight-bold">Sync</span>Room, you need to wait for your approval. <br>Thanks for your patience :)</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger font-weight-bold" data-dismiss="modal">Close <i class="fa ml-1 fa-times-circle" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
</div>