<div class="modal hide fade in" id="howToModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h4>Use <span class="text-main-color font-weight-bold">Dreck</span>Tube</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body explain-text">
                <div *ngIf="curP==1">
                    <p>Its actually really simple!</p>
                    <p>First, go and join any <span class="font-weight-bold"><span class="text-main-color">Dreck</span>Room</span> by clicking on one of the listed boxes<br><br> You could also create your own <span class="font-weight-bold"><span class="text-main-color">Dreck</span>Room</span>
                        for you and your friends by clicking on the <i class="fa mx-1 fa-plus add-bubble pointer text-main-color" (click)="AddRoom.emit()" data-dismiss="modal" aria-hidden="true"></i> button and entering a name</p>
                </div>
                <div *ngIf="curP==2">
                    <p class="inline-block ml-4">After you joined a <span class="font-weight-bold"><span class="text-main-color">Dreck</span>Room</span><br><br>You should see these buttons on the left of your screen when you move your cursor across the website<br><br>Lets go through
                        each one real quick</p>
                    <p><i class="text-main-color fa fa-bars badge-dreck" aria-hidden="true"></i> - Will change the <span class="font-weight-bold"><span class="text-main-color">Dreck</span>Room</span> to a smaller layout</p>
                    <p><i class="text-main-color fa fa-user-circle-o badge-dreck" aria-hidden="true"></i> - Will indicate whether you are Host of the <span class="font-weight-bold"><span class="text-main-color">Dreck</span>Room</span>. If so, it'll be <span class="text-warning">gold</span>,
                        else it'll be just plain white</p>
                    <p><i class="text-main-color fa fa-plus badge-dreck" aria-hidden="true"></i> - Will open an inputbox to enter a URL or choose a file to stream</p>
                    <p><i class="text-main-color fa fa-plus-circle badge-dreck" aria-hidden="true"></i> - Will send your current clipboard text to the server, if it's a valid URL it'll be added to the playlist</p>
                    <p><i class="text-main-color fa fa-video-camera badge-dreck" aria-hidden="true"></i> - Will show the current playlist on hover or click</p>
                    <p><i class="text-main-color fa fa-forward badge-dreck" aria-hidden="true"></i> - Will play the next video in the playlist</p>
                    <p><i class="text-main-color fa fa-user badge-dreck" aria-hidden="true"></i> - Will show the current userlist on hover or click</p>
                    <p><i class="text-main-color fa fa-comment badge-dreck" aria-hidden="true"></i> - Will open the chat</p>
                    <p><i class="text-main-color fa fa-clock-o badge-dreck" aria-hidden="true"></i> - Will open a menu that lets you set the maximum threshhold to the current Host. If you are Host, it'll be the interval at which you update the rooms current
                        time
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger mr-auto font-weight-bold" data-dismiss="modal">Close <i class="fa ml-1 fa-times-circle" aria-hidden="true"></i></button>
                <button *ngIf="curP>1" (click)="curP = curP-1" type="button" class="btn btn-primary font-weight-bold"><i class="fa ml-1 fa-backward" aria-hidden="true"></i> Back</button>
                <button *ngIf="curP<2" (click)="curP = curP+1" type="button" class="btn btn-primary font-weight-bold">Next <i class="fa ml-1 fa-forward" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
</div>
