.badge-dreck {
    padding: 5px;
    background-color: #2c2f33;
    box-shadow: 0px 0px 5px 0.5px rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    width: 25px;
    text-align: center;
}

.explain-text {
    font-size: 14px;
}

.explain-video {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 100%;
}