.bg-dark {
  background-color: #323342 !important;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: #5d5e7c;
}
.bg-secondary {
  background-color: #45465c !important;
}
.none {
  display: none;
}
