.bg-dark {
  background-color: #323342 !important;
}
.bg-secondary {
  background-color: #45465c !important;
}
.border-dark {
  background-color: #4d5678 !important;
}
.text-secondary {
  color: #7380b1 !important;
}
.text-dark {
  color: #4d5678 !important;
}
.user-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 75%;
}
.blink {
  animation: blink 3s infinite both;
}
@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

ngb-pagination ::ng-deep ul > li:not(.active) > a {
  background-color: #4d5678 !important;
  border: #5d5e7c !important;
  color: #fff !important;
}
ngb-pagination ::ng-deep ul > li.active > a {
  background-color: #5d5e7c !important;
  border: #454658d9 !important;
  color: #fff !important;
}
