<ng-container *ngIf="UniqueId!==undefined&&Username!==undefined&&currentTime!==undefined&&DelInterval!==undefined">
    <i class="fa fa-2x btn text-primary pointer fade menu-btn" *ngIf="UserAdded==true" (click)="toggleNav()" (mouseenter)="inMenu=true;" (mouseleave)="inMenu=false;" [class.navbtn]="!nav" [class.navbtn-left]="nav" aria-hidden="true" id="menuBtn" [class.left-24]="nav"
        [class.fa-bars]="!nav" [class.fa-times]="nav" [class.fade-out]="fullscreen"></i>
    <i class="fa fa-sign-out btn fa-2x pointer text-danger fade menu-btn" *ngIf="nav" [class.resetbtn-left]="nav" aria-hidden="true" (click)="refresh()"></i>
    <app-side-nav *ngIf="UserAdded==true&&!nav" [logout]="logout" [ThreshholdNumber]="Threshhold" [Playlist]="Playlist" [nav]="nav" [IsHost]="IsHost" [fullscreen]="fullscreen" [isPlaying]="isPlaying" [UniqueId]="UniqueId" [Username]="Username" [Members]="Members"
        [playerComp]="playerComp" (threshholdChange)="Threshhold=$event" (usernameChange)="Username=$event" (toggleTwitch)="twitchChat=!twitchChat" (menuEnter)="inMenu=true;" (menuExit)="inMenu=false;" (Draw)="DrawWhiteboard()"></app-side-nav>
    <div class="row">
        <div [ngClass]="{'col-3': nav}">
            <div class="sidenav" [class.width-25]="nav">
                <div class="leftbox mt-3" [class.hide]="!nav">
                    <app-userlist [nav]="nav" [UniqueId]="UniqueId" [Username]="Username" [DelInterval]="DelInterval" (userAdded)="UserAdded=true;" (intervalOff)="userIntervalOff()" (isHost)="ChangeHost($event)" (userlistChange)="Members=$event"></app-userlist>
                </div>
            </div>
            <div class="sidenav" [class.width-25]="nav" style="margin-top: 20%;">
                <div class="leftbox" style="height: 55%;">
                    <app-dreckchat *ngIf="nav" [nav]="nav" [UniqueId]="UniqueId" [Username]="Username" style="max-height: inherit;"></app-dreckchat>
                </div>
            </div>
        </div>
        <div [ngClass]="{'col-9': nav, 'col-12': !nav}">
            <app-player [nav]="nav" [Username]="Username" [fullscreen]="fullscreen" [twitchChat]="twitchChat" [currentTime]="currentTime" [UniqueId]="UniqueId" [IsHost]="IsHost" [Threshhold]="Threshhold" (threshholdChange)="Threshhold=$event" (isPlaying)="isPlaying=$event"
                (playlistChange)="Playlist=$event"></app-player>
        </div>
    </div>

</ng-container>