<div class="modal hide fade in" id="userSettingModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h4><span class="text-main-color font-weight-bold">Sync</span>Stream User</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body explain-text">
                <div class="col-12">
                    <label class="mt-3">Username <span class="text-danger">*</span></label>
                    <input [(ngModel)]="User.username" minlength="2" type="text" class="form-control bg-dark text-light" placeholder="Username" required>
                    <label class="mt-3">Password (new)<span class="text-danger">*</span></label>
                    <input [(ngModel)]="User.password" minlength="2" type="password" class="form-control bg-dark text-light" placeholder="Password" required>    
                    <label class="mt-3">Password (repeat new)<span class="text-danger">*</span></label>
                    <input [(ngModel)]="RepeatPassword" minlength="2" type="password" class="form-control bg-dark text-light" placeholder="Password" required>  
                    <div class="text-danger">
                        <div *ngIf="RepeatPassword!==User.password">
                            Make sure your password matches
                        </div>
                    </div>
                    <hr>
                    <label class="mt-3">Password (confirmation)<span class="text-danger">*</span></label>
                    <input [(ngModel)]="Password" minlength="2" type="password" class="form-control bg-dark text-light" placeholder="Password" required>                  
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success font-weight-bold" (click)="Save()">Save <i class="fa ml-1 fa-check-circle" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-danger font-weight-bold" data-dismiss="modal">Close <i class="fa ml-1 fa-times-circle" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
</div>