<app-text-dialog [Id]="logoutDialog.id" [Question]="logoutDialog.question" [AddInput]="false" [Header]="logoutDialog.header" [Answer1]="logoutDialog.answer1" [Answer2]="logoutDialog.answer2" (Yes)="Logout()">
</app-text-dialog>
<div *ngIf="!SignalR&&logout==undefined" class="username-container text-center mb-2">
    <span>Please wait until connected to our servers...</span>
</div>
<div id="RoomView" *ngIf="!currentRoom&&SignalR&&logout!=undefined">    
    <div class="header text-center">
        <div class="center-content">
            <span class="globe-icon"><i class="fa fa-globe mr-3" aria-hidden="true"></i></span>
            <span class="icon-text"><span style="color: #2980b9;">Dreck</span>Tube</span>
        </div>
    </div>
    <div *ngIf="filterRooms" class="container-fluid" style="padding-left: 5vw; padding-right: 5vw;">
        <div class="mt-4 row">
            <div class="col-4">
                <form autocomplete="off">
                    <!-- Disable chrome autofill -->
                    <input type="text" class="form-control" autocomplete="off chrome-off" style="display: none;" />
                    <!-- Disable chrome autofill -->
                    <input class="form-control bg-dark text-light border-dark" autocomplete="off chrome-off" [(ngModel)]="FilterTerm" name="FilterInput" (keyup)="Filter()" placeholder="Room name..." type="text">
                </form>
            </div>
            <div class="col-4">
                <ngb-pagination *ngIf="pageSize<filterRooms.length"
                [(page)]="page"
                [pageSize]="pageSize"
                [collectionSize]="filterRooms.length"
                [maxSize]="10"></ngb-pagination>
            </div>
           <!--<div class="col-4" *ngIf="user.username&&logout&&user.userprivileges>2">
                <app-download-modal></app-download-modal>
            </div>-->
        </div>
        <hr>
        <div class="row mt-4">            
            <ng-container>
                <div class="add-room-bubble pointer" (click)="AddRoom()">
                    <div class="add-bubble-new center-block shadow" [class.bg-success]="user.username&&!logout" [class.bg-primary]="user.username&&logout">
                        <i class="fa fa-2x" [class.fa-sign-in]="user.username&&!logout" [class.fa-plus]="user.username&&logout"></i>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-4 col-sm-12 room-container2 mb-5 btn-container" *ngFor="let room of filterRooms | slice: (page-1) * pageSize : page * pageSize; let i=index; let last = last;trackBy: trackByFn; let first = first;">
                    <div class="room-info-bubbles row skew10">
                        <div class="room-user-bubble" style="background-color: #27ae60;">
                            <p class="counterSkew10">{{room.server.members.length}} <i class="fa fa-user"></i></p>
                        </div>
                        <div class="room-user-bubble ml-2" style="background-color: #2980b9;">
                            <p class="counterSkew10">{{room.server.playlist.length}} <i class="fa " [ngClass]="{ 'fa-play-circle': room.server.isplaying&&room.server.members.length>0, 'fa-pause-circle':  !room.server.isplaying||room.server.members.length==0}"></i></p>
                        </div>
                    </div>
                    <div *ngIf="user.userprivileges>1&&room.deletable" class="delete-bubble info-bubble hide-btn pointer" (click)="room.server.members.length==0 && DeleteRoom(room.uniqueId, room.server.members.length)"><i class="fa fa-times"></i></div>
                    <div class="room-card top-corner skew10 pointer" (click)="JoinRoom(room.uniqueId, room.server.currenttime)">                        
                        <div class="row bottom-corner">                            
                        <div class="col-2 room-icon counterSkew10 pl-4 pt-2 text-shadow-default">
                            <i class="fa fa-youtube-square" style="color: #ff4c4c;" aria-hidden="true" *ngIf="room.server.playlist.length!=0&&(room.server.playlist.length>0||room.server.currentVideo.title.toLocaleLowerCase().includes('youtube'))&&room.server.currentVideo.url.toLocaleLowerCase().includes('youtube')"></i>
                            <i class="fa fa-twitch" aria-hidden="true" style="color: #9146ff;" *ngIf="room.server.playlist.length>0&&room.server.currentVideo.url.toLocaleLowerCase().includes('twitch')"></i>
                            <i class="fa fa-pause-circle text-light" aria-hidden="true" *ngIf="room.server.playlist.length==0"></i>
                            <i class="fa fa-film text-light" aria-hidden="true" *ngIf="room.server.playlist.length>0&&!room.server.currentVideo.url.toLocaleLowerCase().includes('twitch')&&!room.server.currentVideo.url.toLocaleLowerCase().includes('youtube')"></i>
                        </div>
                        <div class="col-6 pt-3 counterSkew10">
                            <p class="short-text font-weight-bold text-shadow-default" style="font-size: 1.75rem;" title="{{room.name}}">{{room.name}}</p>
                            <p style="font-size: .9rem;" class="short-text mt-3" [innerHTML]="room.server.title" [title]="room.server.title"></p>
                        </div>
                        <div class="col-4 room-info-container">
                            <div class="room-playlist-info">
                                <p class="text-center font-weight-bold mt-2 counterSkew10" style="margin: 0;">Playlist</p>
                                <p *ngIf="room.server.playlist==0" style="font-size: 10px;" class="text-center">Nothing here yet</p>
                                <ul class="room-liststyle">
                                    <li *ngFor="let video of room.server.playlist">
                                        <i class="fa fa-youtube-play" style="color: #ff4c4c;background-image: radial-gradient(at center, #fff 40%, transparent 40%);" aria-hidden="true" *ngIf="video.url.toLocaleLowerCase().includes('youtube')"></i>
                                        <i class="fa fa-twitch" aria-hidden="true" style="color: #9146ff;" *ngIf="video.url.toLocaleLowerCase().includes('twitch')"></i>
                                        <i class="fa fa-play text-light" aria-hidden="true" *ngIf="!video.url.toLocaleLowerCase().includes('twitch')&&!video.url.toLocaleLowerCase().includes('youtube')"></i>
                                        <span class="PlaylistTitle">
                                             <span class="PlaylistTitleText"> {{video.title}}</span>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                            <div class="room-user-info">
                                <p class="text-center font-weight-bold mt-2 counterSkew10" style="margin: 0;">Member</p>
                                <p *ngIf="room.server.members==0" style="font-size: 10px;" class="text-center">No members yet</p>
                                <ul class="room-liststyle">
                                    <li *ngFor="let member of room.server.members">
                                        <span style="font-size: 10px;"><span class="list-arrow text-primary" style="color: #2980b9;">&#10148;</span> {{member.username}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>                
            </ng-container>
        </div>
    </div>

    <div class="footer">
        <p class="mt-1" style="padding-top: .5%;">
            <span class="pointer" data-toggle="modal" data-target="#howToModal">How to?</span>
            <span class="pointer ml-4" data-toggle="modal" data-target="#contactModal">Contact</span>
            <span class="pointer ml-4 text-info" data-toggle="modal" data-target="#dialogModal-logout" *ngIf="user.username&&logout">Logout</span>
            <span class="pointer ml-4 text-info" data-toggle="modal" data-target="#userSettingModal" *ngIf="user.username&&logout">User Settings</span>
            <span class="pointer ml-4 text-info" data-toggle="modal" data-target="#userAdminModal" *ngIf="user.username&&logout&&user.userprivileges>2">User Administration</span>
        </p>
    </div>
    <app-help-modal (AddRoom)="AddRoom()"></app-help-modal>
    <app-add-room-modal [user]="user" [logout]="logout" (JoinRoom)="JoinRoom($event, 0)"></app-add-room-modal>
    <app-user-admin-modal *ngIf="user.username&&logout&&user.userprivileges>2"></app-user-admin-modal>
    <app-user-setting-modal *ngIf="user.username&&logout" [User]="user"></app-user-setting-modal>
    <div style="margin-top: 75px;"></div>
</div>

<app-login-modal *ngIf="SignalR" (SaveLogin)="SaveLogin($event, false)" [user]="user" [logout]="logout"></app-login-modal>
<span *ngIf="currentRoom&&SignalR&&logout!=undefined" class="badge badge-dreck my-2 block pointer leaveBtn" [class.fade-out]="!inMenu" title="Leave room" (click)="LeaveRoom()"><i class="fa fa-sign-out pointer text-danger" aria-hidden="true"></i></span>
<app-home *ngIf="currentRoom&&SignalR&&logout!=undefined" [UniqueId]="currentRoom" [currentTime]="currentTime" [Username]="user.username" [DelInterval]="delInterval" [logout]="logout" (IntervalOff)="currentRoom=undefined; currentTime=undefined" (isInMenu)="inMenu=$event"></app-home>